* {
  margin: 0;
  padding: 0;
}
.mainimg {
  background-image: url("../assets/heroImage.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content:flex-end;
  padding: 5%;
  display: flex;
}
.text {
  /* margin-top: 40vh; */
  height: 40vh;
  display: flex;
  flex-direction: column;
}
.heading{
  font-size: 3rem;
  font-weight: bold;
  word-wrap:unset;
}
.mainimg h1 {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
}
#blue {
  height: 30px;
  background-color: rgba(0, 255, 255, 0.31);
  opacity: 0.9;
  width: 300px;
  text-align: center;
  padding: 5px;
  border-radius: 50px;
  /* margin-left: auto; */
  margin-right: auto;
}
#small {
  padding: 10px;
  font-size: 15px;
  color: rgb(212, 212, 212);
}
.featured {
  padding: 35px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.light {
  color: rgb(103, 102, 102);
}
.featured-list {
  /* display: flex;*/
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
}
.right{
  display:flex ;
  flex-wrap: nowrap;
}
.right a{
  text-decoration: none;
  color: black;
  font-size: rem;
}

.offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.offers-top {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin-bottom: 30px;
}
.offers-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;

}

.offers-grid {
  max-width: 1200px;
  margin: 0 auto;
}
.feedback{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(238, 254, 254);
  padding: 30px;
}.featured h1{
  margin: 20px;
}
.feeback-boxs{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}